.card_back{
    width: 100%;
    height: 270px;  
}
.card_header{
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    margin-top: -20px;
    margin-bottom: 0;
}
.date{
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    margin: 10px 0;
}
.date > svg{
    margin-right: 10px;
}
.card_description{
    max-width: 95%;
}
@media(max-width: 725px) {
    .card_back{
        background-position: left;
        background-repeat: no-repeat;
        height: 200px;
    }
    .card_header{
        margin-top: 20px;
    }
}
@media(max-width: 470px) {
    .card_header{
        margin-top: 0;
    }
}
