.personal_container{
    max-width: 1400px;
}
.personal_content{
    margin: 80px 115px;
}
.personal_header{
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;  
    color: #231F20;
}
.personal_panel{
    margin-top: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 135px;
}
.personal_info{
    width: 100%;
}
.user_greeting{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}
.user_greeting::after{
    content: '';
    position: absolute;
    bottom: -36px;
    width: 100%;
    height: 1px;
    background-color: #EDEDF4;
}
.greeting_header{
    margin-left: 20px;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #231F20;
}
.user_settings{
    margin-top: 72px;
}
.settings_header{
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #4D4D4F;
}
.form_container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    position: relative;
}
.input_text_label{
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #A8AAAE;
}
.wrap{
    position: relative;
}
.text_input{
    font-family: 'Manrope';
    font-style: normal;
    width: 100%;
    padding: 18.5px 18px;
    border: none;
    background: #F6F6F9;
    outline: none;
    position: relative;
}
.select{
    width: 100%;
    padding: 18.5px 18px;
    border: none;
    background: #F6F6F9;
    outline: none;
    position: relative;
}
.option{
    padding: 18.5px 18px;
    border: none;
    background: #F6F6F9;
}
.select::-ms-expand{
    padding-right: 20px;
}
.form_container::after{
    content: '';
    position: absolute;
    bottom: -36px;
    width: 100%;
    height: 1px;
    background-color: #EDEDF4;
}
.submit_btn{
    margin-top: 72px;
    background: #009CB4;
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    padding: 17px 91.5px;
    outline: none;
    border: none;
    cursor: pointer;
}
.submit_btn:hover{
    background-color: #01B8D4;
    transition-delay: .1s;
    transition-duration: .2s;
}
.submit_btn:active{
    background-color: #01BEDB;
}
.eye_icon{
    position: absolute;
    top: 20px;
    right: 20px;
}
@media(max-width: 1100px) {
    .personal_content{
        margin: 15px 55px;
    }
    .form_container{
        grid-template-columns: 1fr;
    }
}
@media(max-width: 1000px) {
    .personal_content{
        margin: 15px;
    }
    .personal_header{
        font-size: 32px;
        line-height: 40px;  
    }
}
@media(max-width: 700px) {
    .personal_panel{
        flex-direction: column;
        gap: 50px;
        align-items: center;
    }
    .personal_header{
        text-align: center;
        font-size: 24px;
        line-height: 30px;  
    }
    .user_greeting{
        align-items: center;
        justify-content: center;
    }
    .greeting_header{
        margin-left: 10px;
        font-size: 20px;
        line-height: 26px;
    }
}