.header{
    max-width: 1400px;
    max-height: 80px;
    filter: drop-shadow(0px 4px 30px rgba(198, 199, 209, 0.1));
}
.content{
    margin: 15px 115px;
    display: flex;
    align-items: center;
    justify-content: space-between;  
}
.main_link{
    cursor: pointer;
    margin-right: 30px;
}
.content_left, .content_right{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.bell{
    margin-left: 20px;
}
.user_tab{
    display: flex;
    align-items: center;
    justify-content: center;
}
.line{
    margin: 0 20px;
}
.user_avatar{
    width: 32px;
    height: 32px;
    background: #C4C4C4;
    border-radius: 50%;
    margin: 0 5px;
}
.first_name, .last_name{
    margin-right: 3px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #4D4D4F;
}
svg:hover{
    cursor: pointer;
}
.bell, .calendar{
    border-radius: 50%;
    background-color: #F9F9FB;
}
@media(max-width: 1100px) {
    .content{
        margin: 15px 55px;
    }
}
@media(max-width: 1000px) {
    .content{
        margin: 15px;
    }
}
@media(max-width: 840px) {
    .content_left > div{
        display: none;
    }
}
@media(max-width: 600px)  {
    .bell{
        margin-left: 2px;
    }
    .line{
        margin: 0;
    }
    .user_avatar{
        margin: 0;
    }
    .tab{
        margin: 0;
        padding: 0;
    }
    .main_link{
        margin-right: 0;
    }
    .main_icon{
        width: 120px;
    }
    .first_name, .last_name{
        font-size: 12px;
        line-height: 16px;
    }
}
@media (max-width: 480px) {
    .calendar, .bell{
        display: none;
    }
    .line{
        margin: 5px;
    }
    .user_avatar{
        width: 20px;
        height: 20px;
    }
}
